body {
    background-color: #D9FEFB;
    font-family: Arial, sans-serif;
    color: #1C2F30;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outer-frame {
    border: 3px solid #1C2F30;
    padding: 35px;
    width: 500px;
    text-align: center;
    border-radius: 14px;
    background-color: #D9FEFB;
}

.inner-frame {
    background-color: #7EAAA7;
    padding: 25px;
    border-radius: 10px;
    margin: 25px 0;
}

button {
    background-color: #1C2F30;
    color: #D9FEFB;
    border: none;
    padding: 10px 22px;
    border-radius: 6px;
    cursor: pointer;
}
